# required
TELEGRAM_BOT_TOKEN=

# optional
# default: http://localhost:9001
COBALT_API_URL=
# default: http://localhost:8108
TYPESENSE_URL=
# default: xyz
TYPESENSE_API_KEY=

SENTRY_DSN=

# optional Google Drive upload
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
