# required
TELEGRAM_BOT_TOKEN=

# optional
# default: http://localhost:9001
COBALT_API_URL=
# default: http://localhost:8108
TYPESENSE_URL=
# default: xyz
TYPESENSE_API_KEY=
# default: ./data locally, /data in the Docker image
# SAVE_IT_DATA_DIR=

SENTRY_DSN=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
